/* Main CSS - imports index.css which has all theme variables */
@import './index.css';

@custom-variant dark (&:is(.dark *));

@config '../tailwind.config.js';

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
